body {
    background-color: #1d1d1d;
    color: #EFEFEF;
    font-family: "Stack Sans Notch", sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.header {
    font-size: 1.5rem;
    font-weight: 400;
}

.description {
    font-size: 1rem;
    font-weight: 100;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.logo {
    font-size: 1.5rem;
    font-weight: 400;
}

.main-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 2rem;
}

.main-nav a {
    font-size: 1rem;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.index-container {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 2rem;
    display: flex;
}

.intro-overview {
    display: flex;
    align-items: flex-end;
    height: 350px;
}

.intro-overview img {
    width: 150px;
    height: 150px;
    border-radius: 50px;
}

.intro-section-description {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-left: 2rem;
}

.header.intro {
    padding-bottom: 0rem;
}

.description.intro {
    padding-top: 0rem;
}